@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');


html{
    position: relative;
    background-color: #080E24;
}

header{
  display: flex;
  justify-content: space-between;
}

.logo{
  color: #1090F2;
  width: 0px;
  height: auto;
  display: flex;
}

.logoImg{
  width: 48px;
  height: 37.8px;
  display: block;
  margin: 39.5px 69px;
}

.buscador{
  margin: 39.5px 69px;
  display: flex;
  justify-content: end;
}

.buscadorTxt{
  font-family: 'Lato', sans-serif;
  color: #888888;
  background-color: rgba(127, 202, 255, 0.08);
  border-radius: 21px;
  border: none;
  font-size: 23px;
  font-weight: 700;
  position: absolute;
}


.dropdown {
    position: relative;
    display: inline-block;
}

  /* Style the dropdown button text */
.dropdown-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

  /* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

  /* Style the dropdown links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

  /* Show the dropdown menu when the dropdown button is hovered over */
.dropdown:hover .dropdown-content {
    display: block;
}